<a href="https://colab.research.google.com/github/debasisbarik123/debasis-22-016/blob/main/set2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_series(n):
    series = ", ".join(str(i) for i in range(1, n+1))
    print(series)

# Example usage:
n = int(input("Enter a number: "))
print_series(n)

Enter a number: 4
1, 2, 3, 4

In [ ]:
def print_odd_series(n):
    for i in range(1, n+1, 2):
        print(i, end=", ")
        n = int(input("Enter the value of n: "))
print("Odd series up to", n, ":", end=" ")
print_odd_series(n)

Odd series up to 4 : 1, Enter the value of n: 4
3, Enter the value of n: 4

In [ ]:
def print_even_series(n):
    for i in range(2, n+1, 2):
        print(i, end=", ")

n = int(input("Enter the value of n: "))
print("Even series up to", n, ":", end=" ")
print_even_series(n)

Enter the value of n: 6
Even series up to 6 : 2, 4, 6,

In [ ]:
def print_squared_series(n):
    for i in range(1, n+1):
        print(i**2, end=", ")

n = int(input("Enter the value of n: "))
print("Squared series up to", n, ":", end=" ")
print_squared_series(n)

Enter the value of n: 4
Squared series up to 4 : 1, 4, 9, 16,

In [ ]:
def print_squared_odd_series(n):
    for i in range(1, n+1, 2):
        print(i**2, end=", ")

n = int(input("Enter the value of n: "))
print("Squared odd series up to", n, ":", end=" ")
print_squared_odd_series(n)

Enter the value of n: 5
Squared odd series up to 5 : 1, 9, 25,

In [ ]:
def print_squared_even_series(n):
    for i in range(2, n+1, 2):
        print(i**2, end=", ")

n = int(input("Enter the value of n: "))
print("Squared even series up to", n, ":", end=" ")
print_squared_even_series(n)

Enter the value of n: 6
Squared even series up to 6 : 4, 16, 36,

In [ ]:
def print_power_series(n, r):
    for i in range(1, n+1):
        print(i ** r, end=", ")

r = int(input("Enter the value of r: "))
n = int(input("Enter the value of n: "))
print("Series up to", n, "raised to the power of", r, ":", end=" ")
print_power_series(n, r)

Enter the value of r: 4
Enter the value of n: 4
Series up to 4 raised to the power of 4 : 1, 16, 81, 256,

In [ ]:
def print_odd_power_series(n, r):
    for i in range(1, n+1, 2):
        print(i ** r, end=", ")

r = int(input("Enter the value of r: "))
n = int(input("Enter the value of n: "))
print("Series of odd num to the pow of", r, "up to", n, ":", end=" ")
print_odd_power_series(n, r)

Enter the value of r: 4
Enter the value of n: 5
Series of odd num to the pow of 4 up to 5 : 1, 81, 625,

In [ ]:
def print_even_power_series(n, r):
    for i in range(2, n+1, 2):
        print(i ** r, end=", ")

r = int(input("Enter the value of r: "))
n = int(input("Enter the value of n: "))
print("Series of even num to the power of", r, "up to", n, ":", end=" ")
print_even_power_series(n, r)

Enter the value of r: 4
Enter the value of n: 4
Series of even num to the power of 4 up to 4 : 16, 256,

In [ ]:
def factorial_iterative(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

# Input
n = int(input("Enter a number: "))

# Calculating factorial using iterative approach
result = factorial_iterative(n)
print("Factorial of", n, "is", result)

Enter a number: 4
Factorial of 4 is 24

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

def print_factorials(n):
    for i in range(1, n + 1):
        print(i, "!", factorial(i))

# Input
n = int(input("Enter a number: "))

# Print factorials from 1! to n!
print("Factorials from 1! to", n, "!")
print_factorials(n)

Enter a number: 4
Factorials from 1! to 4 !
1 ! 1
2 ! 2
3 ! 6
4 ! 24

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

def print_odd_factorials(n):
    for i in range(1, n + 1, 2):
        print(i, "!", factorial(i))

# Input
n = int(input("Enter a number: "))

# Print factorials of odd numbers from 1! to n!
print("Factorials of odd numbers from 1! to", n, "!")
print_odd_factorials(n)

Enter a number: 4
Factorials of odd numbers from 1! to 4 !
1 ! 1
3 ! 6

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

def print_even_factorials(start, n):
    for i in range(start, n + 1, 2):
        print(i, "!", factorial(i))

# Input
n = int(input("Enter a number: "))

# Print factorials of even numbers starting from 4! to n!
print("Factorials of even numbers starting from 4! to", n, "!")
print_even_factorials(2, n)

Enter a number: 5
Factorials of even numbers starting from 4! to 5 !
2 ! 2
4 ! 24

In [ ]:
def calculate_sum(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum(n)
print("The sum of the series 1+2+3+4+...+{} is: {}".format(n, result))

Enter the value of n: 4
The sum of the series 1+2+3+4+...+4 is: 10

In [ ]:
def calculate_sum(n):
    total = 0
    for i in range(1, n + 1, 2):  # Increment by 2 to get odd numbers
        total += i
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum(n)
print("The sum of the series 1+3+5+...+{} is: {}".format(n, result))

Enter the value of n: 5
The sum of the series 1+3+5+...+5 is: 9

In [ ]:
def calculate_sum(n):
    total = 0
    for i in range(2, n + 1, 2):  # Increment by 2 to get even numbers
        total += i
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum(n)
print("The sum of the series 2+4+6+...+{} is: {}".format(n, result))

Enter the value of n: 4
The sum of the series 2+4+6+...+4 is: 6

In [ ]:
def calculate_sum_of_squares(n):
    total = 0
    for i in range(1, n + 1):
        total += i ** 2
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum_of_squares(n)
print("The sum of  1^2 + 2^2 + 3^2 + ... + {}^2 is: {}".format(n, result))

Enter the value of n: 4
The sum of  1^2 + 2^2 + 3^2 + ... + 4^2 is: 30

In [ ]:
def calculate_sum_of_squares(n):
    total = 0
    for i in range(2, n + 1, 2):
        total += i ** 2
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum_of_squares(n)
print("The sum of the  2^2 + 4^2 + ... + {}^2 is: {}".format(n, result))

Enter the value of n: 5
The sum of the  2^2 + 4^2 + ... + 5^2 is: 20

In [ ]:
def calculate_sum_of_squares(n):
    total = 0
    for i in range(1, n + 1, 2):
        total += i ** 2
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum_of_squares(n)
print("The sum of the  1^2 + 3^2 + ... + {}^2 is: {}".format(n, result))

Enter the value of n: 4
The sum of the  1^2 + 3^2 + ... + 4^2 is: 10

In [ ]:
def calculate_sum_of_powers(n, r):
    total = 0
    for i in range(1, n + 1):
        total += i ** r
    return total

n = int(input("Enter the value of n: "))
r = int(input("Enter the value of r: "))

result = calculate_sum_of_powers(n, r)
print(f"The sum of the series 1^{r} + 2^{r} + ... + {n}^{r} is: {result}")

Enter the value of n: 6
Enter the value of r: 4
The sum of the series 1^4 + 2^4 + ... + 6^4 is: 2275

In [ ]:
def calculate_sum_of_powers(n, r):
    total = 0
    for i in range(1, n + 1, 2):
        total += i ** r
    return total

n = int(input("Enter the value of n: "))
r = int(input("Enter the value of r: "))

result = calculate_sum_of_powers(n, r)
print(f"The sum of the 1^{r} + 3^{r} + ... + {n}^{r} is: {result}")

Enter the value of n: 5
Enter the value of r: 4
The sum of the 1^4 + 3^4 + ... + 5^4 is: 707

In [ ]:
def calculate_sum_of_powers(n, r):
    total = 0
    for i in range(2, n + 1, 2):
        total += i ** r
    return total

n = int(input("Enter the value of n: "))
r = int(input("Enter the value of r: "))

result = calculate_sum_of_powers(n, r)
print(f"The sum of the series 2^{r} + 4^{r} + ... + {n}^{r} is: {result}")

Enter the value of n: 4
Enter the value of r: 4
The sum of the series 2^4 + 4^4 + ... + 4^4 is: 272

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_sum_of_factorials(n):
    total = 0
    for i in range(1, n + 1):
        total += factorial(i)
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum_of_factorials(n)
print("The sum of the  1! + 2! + 3! + ... + {}! is: {}".format(n, result))

Enter the value of n: 6
The sum of the  1! + 2! + 3! + ... + 6! is: 873

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_sum_of_factorials(n):
    total = 0
    for i in range(1, n + 1, 2):
        total += factorial(i)
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum_of_factorials(n)
print("The sum of the 1! + 3! + 5! + ... + {}! is: {}".format(n, result))

Enter the value of n: 5
The sum of the 1! + 3! + 5! + ... + 5! is: 127

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_sum_of_factorials(n):
    total = 0
    for i in range(2, n + 1, 2):
        total += factorial(i)
    return total

n = int(input("Enter the value of n: "))
result = calculate_sum_of_factorials(n)
print("The sum of the  2! + 4! + 6! + ... + {}! is: {}".format(n, result))

Enter the value of n: 6
The sum of the  2! + 4! + 6! + ... + 6! is: 746

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_series(n, x):
    total = 1  # Initialize total with the first term
    for i in range(1, n + 1):
        term = (n - i + 1) * x**i / factorial(i)
        total += term
    return total

n = int(input("Enter the value of n: "))
x = float(input("Enter the value of x: "))

result = calculate_series(n, x)
print(f"The result of the series is: {result}")

Enter the value of n: 6
Enter the value of x: 4
The result of the series is: 162.42222222222222

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_series(n):
    total = 1  # Initialize total with the first term
    sign = -1  # Initialize sign as negative for the second term
    for i in range(1, n + 1):
        term = sign * 1 / factorial(i)
        total += term
        sign *= -1  # Change sign for the next term
    return total

n = int(input("Enter the value of n: "))

result = calculate_series(n)
print("The result of the series is:", result)

Enter the value of n: 4
The result of the series is: 0.37500000000000006

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_series(n, x):
    total = 0  # Initialize total with 0
    for i in range(n + 1):
        term = x**i / factorial(i)
        total += term
    return total

n = int(input("Enter the value of n: "))
x = float(input("Enter the value of x: "))

result = calculate_series(n, x)
print("The result of the series is:", result)

Enter the value of n: 5
Enter the value of x: 4
The result of the series is: 42.86666666666666

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact

def calculate_series(n, x):
    total = 1  # Initialize total with the first term
    sign = -1  # Initialize sign as negative for the second term
    for i in range(1, n + 1):
        term = sign * x**i / factorial(i)
        total += term
        sign *= -1  # Change sign for the next term
    return total

n = int(input("Enter the value of n: "))
x = float(input("Enter the value of x: "))

result = calculate_series(n, x)
print("The result of the series is:", result)

Enter the value of n: 5
Enter the value of x: 4
The result of the series is: -3.533333333333333

In [ ]:
import math

def series_sum(n):
    result = 1  # The first term e^-1 = 1
    factorial = 1  # Factorial of 0

    for i in range(1, n + 1):
        factorial *= i
        term = (-1)**i / factorial
        result += term

    return result

# Test the function with a value of n
n = int(input("Enter the value of n: "))
print("Sum of the series:", series_sum(n))

Enter the value of n: 5
Sum of the series: 0.3666666666666667

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def exponent_series(x, n):
    result = 1
    for i in range(1, n + 1):
        result += (x ** i) / factorial(i)
    return result

def main():
    x = float(input("Enter the value of x: "))
    n = int(input("Enter the number of terms in the series: "))
    print("Series for e^{}:".format(x))
    for i in range(1, n + 1):
        if i == 1:
            print("1", end="")
        else:
            print(" + {}^{} / {}!".format(x, i, i), end="")
    print("\nResult:", exponent_series(x, n))

if __name__ == "__main__":
    main()

Enter the value of x: 5
Enter the number of terms in the series: 4
Series for e^5.0:
1 + 5.0^2 / 2! + 5.0^3 / 3! + 5.0^4 / 4!
Result: 65.375

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def sin_series(x, n):
    result = x
    sign = -1
    for i in range(1, n + 1):
        if i % 2 != 0:
            result += (sign * (x ** (2 * i + 1))) / factorial(2 * i + 1)
            sign *= -1
    return result

def main():
    x = float(input("Enter the value of x in radians: "))
    n = int(input("Enter the number of terms in the series: "))
    print("Series for sin({}):".format(x))
    for i in range(1, n + 1):
        if i == 1:
            print("{}".format(x), end="")
        else:
          print("+({})^{} / {}!".format(x, 2 * i + 1, 2 * i + 1), end="")
    print("\nResult:", sin_series(x, n))

if __name__ == "__main__":
    main()

Enter the value of x in radians: 5
Enter the number of terms in the series: 2
Series for sin(5.0):
5.0+(5.0)^5 / 5!
Result: -15.833333333333332

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def cos_series(x, n):
    result = 1
    sign = -1
    for i in range(1, n + 1):
        if i % 2 == 0:
            result += (sign * (x ** (2 * i))) / factorial(2 * i)
            sign *= -1
    return result

def main():
    x = float(input("Enter the value of x in radians: "))
    n = int(input("Enter the number of terms in the series: "))
    print("Series for cos({}):".format(x))
    for i in range(1, n + 1):
        if i == 1:
            print("1", end="")
        else:
            if i % 2 == 0:
                print(" - ({})^{} / {}!".format(x, 2 * i, 2 * i), end="")
            else:
                print(" + ({})^{} / {}!".format(x, 2 * i, 2 * i), end="")
    print("\nResult:", cos_series(x, n))

if __name__ == "__main__":
    main()

Enter the value of x in radians: 6
Enter the number of terms in the series: 4
Series for cos(6.0):
1 - (6.0)^4 / 4! + (6.0)^6 / 6! - (6.0)^8 / 8!
Result: -11.342857142857142

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def series_sum(n):
    result = 1
    for i in range(1, n + 1):
        result += 1 / factorial(i)
    return result

def main():
    n = int(input("Enter the number of terms in the series: "))
    print("Series for S:")
    for i in range(1, n + 1):
        if i == 1:
            print("1", end="")
        else:
            print(" + 1/{}!".format(i), end="")
    print("\nResult:", series_sum(n))

if __name__ == "__main__":
    main()

Enter the number of terms in the series: 5
Series for S:
1 + 1/2! + 1/3! + 1/4! + 1/5!
Result: 2.7166666666666663